@charset "UTF-8";
/* 初始化*/
html {
  overflow-x: auto;
  overflow-y: auto; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

input {
  outline: none; }

img {
  border: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

h2 {
  font-size: 18px; }

body {
  color: #333;
  background-color: #fff;
  font-family: "PingFangSC-Regular", "sans-serif", "Arial", "Microsoft Yahei", "微软雅黑", "SimHei";
  font-size: 14px;
  position: relative; }

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0; }

.mainColor {
  color: #0076ff !important; }

.btn {
  border: none;
  border-radius: 20px;
  width: 90%;
  height: 40px;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 2px;
  margin-top: 16px;
  margin-left: 5%;
  background: -webkit-linear-gradient(left, #10a2ff, #107fff);
  /* Safari 5.1 - 6.0 */
  background: linear-gradient(to right, #10a2ff, #107fff);
  /* 标准的语法 */
  box-shadow: 0 2px 10px rgba(51, 129, 205, 0.4); }

.navBar {
  position: fixed;
  top: 0;
  background: #0076fe;
  width: 100%;
  height: 44px; }
  .navBar .back {
    width: 22px;
    height: 22px;
    display: block;
    background: url(../images/icon-navBar-back.png);
    background-size: 22px 22px;
    position: absolute;
    top: 11px;
    left: 10px; }
  .navBar .navBar-tit {
    color: #ffffff;
    text-align: center;
    line-height: 44px;
    font-size: 14px; }
  .navBar .navBar-tit.icon1::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit1.png);
    background-size: 11px 14px;
    position: relative;
    top: 1px; }
  .navBar .navBar-tit.icon2::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit2.png);
    background-size: 11px 14px;
    position: relative;
    top: 1px; }
  .navBar .navBar-tit.icon3::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit3.png);
    background-size: 11px 14px;
    position: relative;
    top: 1px; }
  .navBar .navBar-tit.icon4::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit4.png);
    background-size: 11px 14px;
    position: relative;
    top: 2px; }
  .navBar .navBar-tit.icon5::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit5.png);
    background-size: 11px 14px; }
  .navBar .navBar-tit.icon6::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit6.png);
    background-size: 11px 14px;
    position: relative;
    top: 1px; }

.tabBar {
  height: 49px;
  width: 100%;
  background: #0076fe;
  position: fixed;
  bottom: 0;
  font-size: 0; }
  .tabBar a {
    display: inline-block;
    width: 25%;
    height: 49px;
    font-size: 10px;
    color: #ffffff;
    text-align: center; }
    .tabBar a .icon {
      width: 22px;
      height: 22px;
      display: block;
      margin-top: 5px;
      margin-bottom: 2px;
      font-size: 0;
      position: relative;
      left: 50%;
      margin-left: -11px;
      background-size: 22px 22px; }
    .tabBar a .icon-home {
      background-image: url(../images/icon-tabbar-home.png); }
    .tabBar a .icon-yuyue {
      background-image: url(../images/icon-tabbar-yuyue.png); }
    .tabBar a .icon-me {
      background-image: url(../images/icon-tabbar-me.png); }
    .tabBar a .icon-shebei {
      background-image: url(../images/icon-tabbar-shebei.png); }

#home, #me, #order, #cartridge, #waterConsumption, #equMain {
  padding-bottom: 49px; }

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .tabBar {
    height: 83px; }
  #home, #me, #order, #topUp, #pay, #cartridge, #waterConsumption, #equMain {
    padding-bottom: 83px; }
  .price {
    bottom: 83px !important; } }

.errTip {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.1); }
  .errTip .inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .errTip p {
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    width: 5rem;
    line-height: 50px;
    border-radius: 5px;
    position: relative;
    top: -50px;
    -webkit-transition: all 0.75s;
    transition: all 0.75s;
    -webkit-animation: myScale 0.75s;
    animation: myScale 0.75s; }

@keyframes myScale {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

html, body {
  width: 100%;
  height: 100%; }

#cartridge {
  max-width: 670px;
  height: 100%;
  margin: 0 auto;
  padding-top: 44px;
  box-sizing: border-box;
  display: flex; }

.inner {
  flex: 1;
  background: url(../images/12.png) no-repeat fixed;
  background-size: cover;
  box-sizing: border-box;
  color: #ffffff;
  padding: 10px; }

.cartridgeTip {
  font-size: 15px; }
  .cartridgeTip a {
    display: inline-block;
    line-height: 25px;
    border-bottom: 1px solid #fff;
    color: #ffffff; }

.cartridgeTip::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/icon-cartridge-circle.png) no-repeat center center;
  background-size: cover;
  margin-right: 10px;
  position: relative;
  top: 1px;
  box-shadow: 0 0 15px rgba(0, 118, 255, 0.6); }

.circleMask {
  width: 229px;
  height: 229px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid rgba(110, 181, 221, 0.3);
  position: relative;
  left: 50%;
  margin-left: -114px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .circleMask .circle1 {
    position: relative; }

.centerText {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 60px; }
  .centerText strong {
    font-weight: 400;
    font-size: 40px; }
    .centerText strong i {
      font-style: normal; }

.bottomCircle {
  margin-bottom: 40px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }
  .bottomCircle .centerText {
    padding-top: 32px; }
    .bottomCircle .centerText strong {
      font-size: 30px; }

.circle2 {
  position: relative;
  width: 115px;
  height: 115px;
  display: inline-block;
  margin-right: 1rem; }

.circle3 {
  width: 115px;
  height: 115px;
  position: relative;
  display: inline-block; }
