@charset "UTF-8";
/* 初始化*/
html {
  overflow-x: auto;
  overflow-y: auto; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

input {
  outline: none; }

img {
  border: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

h2 {
  font-size: 18px; }

body {
  color: #333;
  background-color: #fff;
  font-family: "PingFangSC-Regular", "sans-serif", "Arial", "Microsoft Yahei", "微软雅黑", "SimHei";
  font-size: 14px;
  position: relative; }

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0; }

.mainColor {
  color: #0076ff !important; }

.btn {
  border: none;
  border-radius: 20px;
  width: 90%;
  height: 40px;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 2px;
  margin-top: 16px;
  margin-left: 5%;
  background: -webkit-linear-gradient(left, #10a2ff, #107fff);
  /* Safari 5.1 - 6.0 */
  background: linear-gradient(to right, #10a2ff, #107fff);
  /* 标准的语法 */
  box-shadow: 0 2px 10px rgba(51, 129, 205, 0.4); }

.navBar {
  position: fixed;
  top: 0;
  background: #0076fe;
  width: 100%;
  height: 44px; }
  .navBar .back {
    width: 22px;
    height: 22px;
    display: block;
    background: url(../images/icon-navBar-back.png);
    background-size: 22px 22px;
    position: absolute;
    top: 11px;
    left: 10px; }
  .navBar .navBar-tit {
    color: #ffffff;
    text-align: center;
    line-height: 44px;
    font-size: 14px; }
  .navBar .navBar-tit.icon1::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit1.png);
    background-size: 11px 14px;
    position: relative;
    top: 1px; }
  .navBar .navBar-tit.icon2::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit2.png);
    background-size: 11px 14px;
    position: relative;
    top: 1px; }
  .navBar .navBar-tit.icon3::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit3.png);
    background-size: 11px 14px;
    position: relative;
    top: 1px; }
  .navBar .navBar-tit.icon4::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit4.png);
    background-size: 11px 14px;
    position: relative;
    top: 2px; }
  .navBar .navBar-tit.icon5::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit5.png);
    background-size: 11px 14px; }
  .navBar .navBar-tit.icon6::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit6.png);
    background-size: 11px 14px;
    position: relative;
    top: 1px; }

.tabBar {
  height: 49px;
  width: 100%;
  background: #0076fe;
  position: fixed;
  bottom: 0;
  font-size: 0; }
  .tabBar a {
    display: inline-block;
    width: 25%;
    height: 49px;
    font-size: 10px;
    color: #ffffff;
    text-align: center; }
    .tabBar a .icon {
      width: 22px;
      height: 22px;
      display: block;
      margin-top: 5px;
      margin-bottom: 2px;
      font-size: 0;
      position: relative;
      left: 50%;
      margin-left: -11px;
      background-size: 22px 22px; }
    .tabBar a .icon-home {
      background-image: url(../images/icon-tabbar-home.png); }
    .tabBar a .icon-yuyue {
      background-image: url(../images/icon-tabbar-yuyue.png); }
    .tabBar a .icon-me {
      background-image: url(../images/icon-tabbar-me.png); }
    .tabBar a .icon-shebei {
      background-image: url(../images/icon-tabbar-shebei.png); }

#home, #me, #order, #cartridge, #waterConsumption, #equMain {
  padding-bottom: 49px; }

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .tabBar {
    height: 83px; }
  #home, #me, #order, #topUp, #pay, #cartridge, #waterConsumption, #equMain {
    padding-bottom: 83px; }
  .price {
    bottom: 83px !important; } }

.errTip {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.1); }
  .errTip .inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .errTip p {
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    width: 5rem;
    line-height: 50px;
    border-radius: 5px;
    position: relative;
    top: -50px;
    -webkit-transition: all 0.75s;
    transition: all 0.75s;
    -webkit-animation: myScale 0.75s;
    animation: myScale 0.75s; }

@keyframes myScale {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

html, body {
  width: 100%;
  height: 100%; }

#equipment {
  position: relative;
  max-width: 670px;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  display: flex; }

.inner {
  flex: 1;
  background: url(../images/8.jpg) no-repeat fixed;
  background-size: cover;
  padding: 10px;
  box-sizing: border-box; }

.myEquipment {
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  justify-content: space-between; }
  .myEquipment .litre {
    display: inline-block; }
    .myEquipment .litre .litre-num {
      font-weight: 300;
      font-size: 50px;
      line-height: 53px; }
    .myEquipment .litre .litre-detail {
      font-size: 13px;
      line-height: 20px; }
  .myEquipment .ctrl {
    margin-top: 20px;
    width: 161px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0; }
    .myEquipment .ctrl .btn-transparency {
      color: #ffffff;
      margin-right: 10px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 15px;
      padding: 6px 10px;
      font-size: 13px;
      margin-bottom: 5px;
      line-height: 27px; }
    .myEquipment .ctrl .addEqt {
      margin-right: 0; }

.eqtNum {
  color: #0076ff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-radius: 5px;
  background: url(../images/9.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 10px; }
  .eqtNum .num {
    font-size: 24px;
    line-height: 40px; }
  .eqtNum .name {
    font-size: 15px;
    line-height: 30px; }

.eqtList {
  background: #ffffff;
  border-radius: 5px;
  padding: 0 12px; }
  .eqtList li {
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eeeeee; }
    .eqtList li .container {
      width: 100%;
      display: flex;
      justify-content: space-between; }
    .eqtList li .eqt-info {
      display: flex; }
      .eqtList li .eqt-info a {
        color: #0076ff; }
      .eqtList li .eqt-info .eqt-icon {
        width: 36px;
        height: 40px;
        background: url(../images/icon-equipment-water.png);
        background-size: cover;
        margin-right: 8px; }
    .eqtList li .eqt-ctrl {
      padding-top: 10px;
      width: 110px; }
      .eqtList li .eqt-ctrl .btn-small {
        width: 42px;
        padding: 5px 7px;
        font-size: 11px;
        line-height: 30px; }

.alert-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .alert-mask .alert-panel {
    background: #ffffff;
    border-radius: 5px;
    width: 6rem;
    height: 150px;
    padding: 1px 0; }
    .alert-mask .alert-panel .tit {
      font-size: 14px;
      color: #000;
      line-height: 40px;
      margin-top: 14px; }
    .alert-mask .alert-panel input {
      border-radius: 5px;
      outline: none;
      border: 1px solid #afb7bb;
      width: 180px;
      height: 22px;
      padding-left: 5px;
      font-size: 14px;
      box-sizing: border-box; }
    .alert-mask .alert-panel .btns {
      width: 180px;
      position: relative;
      left: 50%;
      margin-left: -90px;
      display: flex;
      justify-content: space-between; }
    .alert-mask .alert-panel .btn-confirm {
      position: relative;
      right: -7px; }
    .alert-mask .alert-panel .btn-cancel, .alert-mask .alert-panel .btn-confirm {
      width: 82px;
      line-height: 25px;
      height: 25px;
      font-size: 11px;
      margin-left: 0;
      margin-top: 15px; }
