@charset "UTF-8";
/* 初始化*/
html {
  overflow-x: auto;
  overflow-y: auto; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

input {
  outline: none; }

img {
  border: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

h2 {
  font-size: 18px; }

body {
  color: #333;
  background-color: #fff;
  font-family: "PingFangSC-Regular", "sans-serif", "Arial", "Microsoft Yahei", "微软雅黑", "SimHei";
  font-size: 14px;
  position: relative; }

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0; }

.mainColor {
  color: #0076ff !important; }

.btn {
  border: none;
  border-radius: 20px;
  width: 90%;
  height: 40px;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 2px;
  margin-top: 16px;
  margin-left: 5%;
  background: -webkit-linear-gradient(left, #10a2ff, #107fff);
  /* Safari 5.1 - 6.0 */
  background: linear-gradient(to right, #10a2ff, #107fff);
  /* 标准的语法 */
  box-shadow: 0 2px 10px rgba(51, 129, 205, 0.4); }

.navBar {
  position: fixed;
  top: 0;
  background: #0076fe;
  width: 100%;
  height: 44px; }
  .navBar .back {
    width: 22px;
    height: 22px;
    display: block;
    background: url(../images/icon-navBar-back.png);
    background-size: 22px 22px;
    position: absolute;
    top: 11px;
    left: 10px; }
  .navBar .navBar-tit {
    color: #ffffff;
    text-align: center;
    line-height: 44px;
    font-size: 14px; }
  .navBar .navBar-tit.icon1::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit1.png);
    background-size: 11px 14px;
    position: relative;
    top: 1px; }
  .navBar .navBar-tit.icon2::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit2.png);
    background-size: 11px 14px;
    position: relative;
    top: 1px; }
  .navBar .navBar-tit.icon3::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit3.png);
    background-size: 11px 14px;
    position: relative;
    top: 1px; }
  .navBar .navBar-tit.icon4::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit4.png);
    background-size: 11px 14px;
    position: relative;
    top: 2px; }
  .navBar .navBar-tit.icon5::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit5.png);
    background-size: 11px 14px; }
  .navBar .navBar-tit.icon6::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 6px;
    background: url(../images/icon-navBar-tit6.png);
    background-size: 11px 14px;
    position: relative;
    top: 1px; }

.tabBar {
  height: 49px;
  width: 100%;
  background: #0076fe;
  position: fixed;
  bottom: 0;
  font-size: 0; }
  .tabBar a {
    display: inline-block;
    width: 25%;
    height: 49px;
    font-size: 10px;
    color: #ffffff;
    text-align: center; }
    .tabBar a .icon {
      width: 22px;
      height: 22px;
      display: block;
      margin-top: 5px;
      margin-bottom: 2px;
      font-size: 0;
      position: relative;
      left: 50%;
      margin-left: -11px;
      background-size: 22px 22px; }
    .tabBar a .icon-home {
      background-image: url(../images/icon-tabbar-home.png); }
    .tabBar a .icon-yuyue {
      background-image: url(../images/icon-tabbar-yuyue.png); }
    .tabBar a .icon-me {
      background-image: url(../images/icon-tabbar-me.png); }
    .tabBar a .icon-shebei {
      background-image: url(../images/icon-tabbar-shebei.png); }

#home, #me, #order, #cartridge, #waterConsumption, #equMain {
  padding-bottom: 49px; }

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .tabBar {
    height: 83px; }
  #home, #me, #order, #topUp, #pay, #cartridge, #waterConsumption, #equMain {
    padding-bottom: 83px; }
  .price {
    bottom: 83px !important; } }

.errTip {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.1); }
  .errTip .inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .errTip p {
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    width: 5rem;
    line-height: 50px;
    border-radius: 5px;
    position: relative;
    top: -50px;
    -webkit-transition: all 0.75s;
    transition: all 0.75s;
    -webkit-animation: myScale 0.75s;
    animation: myScale 0.75s; }

@keyframes myScale {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

#me {
  max-width: 670px;
  margin: 0 auto; }

.info {
  margin-top: 10px;
  margin-bottom: 12px;
  padding: 0 10px;
  display: flex;
  color: #ffffff; }
  .info .inner {
    flex: 1;
    height: 100px;
    border-radius: 5px;
    background: url(../images/7.jpg) no-repeat center center;
    background-size: cover;
    padding: 25px 19px;
    box-sizing: border-box;
    display: flex;
    box-shadow: 0 5px 13px rgba(49, 127, 203, 0.3); }
    .info .inner .headImg {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      overflow: hidden;
      margin-right: 17px; }
      .info .inner .headImg img {
        width: 100%;
        height: 100%; }
    .info .inner .equipment {
      line-height: 50px; }
      .info .inner .equipment .name {
        font-size: 16px; }
      .info .inner .equipment .equipmentNum {
        font-size: 13px; }

.money {
  padding: 0 10px;
  height: 50px;
  display: flex;
  margin-bottom: 18px; }
  .money .inner {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 5px;
    color: #131314;
    box-shadow: 0 6px 9px rgba(186, 202, 210, 0.2); }
    .money .inner .balance {
      flex: 1;
      text-align: center;
      margin-top: 7px; }
    .money .inner .cut-line {
      width: 1px;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .money .inner .cut-line .block {
        width: 1px;
        height: 1px;
        background: #b3c1d7; }
    .money .inner .deposit {
      margin-top: 7px;
      flex: 1;
      text-align: center; }

.order {
  padding: 0 42px;
  margin-bottom: 30px; }
  .order .inner {
    padding: 0 27px;
    box-shadow: 0 23px 50px rgba(0, 0, 0, 0.1); }
  .order .row {
    line-height: 56px;
    font-size: 16px;
    color: #000;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between; }
    .order .row .icon {
      width: 16px;
      height: 16px;
      background-size: 16px 16px;
      position: relative;
      top: 20px; }
    .order .row .icon1 {
      background-image: url(../images/icon-me-icon1.png); }
    .order .row .icon2 {
      background-image: url(../images/icon-me-icon2.png); }
    .order .row .icon3 {
      background-image: url(../images/icon-me-icon3.png); }

.btn-quit {
  display: block;
  text-align: center;
  line-height: 39px; }
